<%- include('../partials/header.ejs') %>

<div class="container mt-5">
    <h4>Edit page</h4>
    <form action="/event/update/<%= items[0].id %>" method="POST">
        <input type="hidden" name="id" value="<%= items[0].id %> ">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" aria-describedby="helpId"
                placeholder="Input Name" value="<%= items[0].name %> ">
        </div>

        <div class="form-group">
            <label for="start_date">Start Date</label>
            <input type="text" class="form-control" name="start_date" id="start_date" aria-describedby="helpId"
                value="<%= items[0].start_date %> ">
        </div>

        <div class="form-group">
            <label for="end_date">End Date</label>
            <input type="text" class="form-control" name="end_date" id="end_date" aria-describedby="helpId"
                value="<%= items[0].end_date %> ">
        </div>

        <div class="form-group">
            <label for="e_desc">Description</label>
            <textarea class="form-control" name="e_desc" id="e_desc" rows="3"><%= items[0].e_desc %></textarea>
        </div>

        <div class="form-group">
            <label for="e_location">Location</label>
            <textarea class="form-control" name="e_location" id="e_location"
                rows="3"><%= items[0].e_location %></textarea>
        </div>

        <div class="form-group">
            <label for="submit">Click Here to submit</label>
            <button type="submit" class="btn btn-primary" name="submit">Submit</button>
        </div>

    </form>
</div>

<%- include('../partials/footer.ejs') %>